*{margin:0;padding:0;}
a{text-decoration:none;color:#fff}
ul,li{list-style:none}
body{font-size:14px;font-family:"微软雅黑";color:#fff;background-color:#f7f7f7;}
/*头部*/
.c_header{width:100%;height:31px;background-color:#0089dc;border-bottom:1px solid #027ecb;}
.c_header .c_nav{width:1180px;margin:0 auto;font-size:12px;line-height:30px;}
.c_header .c_nav .c_nav_path{}
.up{width:100%;}
/*身体头部*/
.up .up_top{width:100%;height:96px;background-color:#0089dc;}
.up .up_top .t_container{width:1180px;height:41px;margin:0 auto;font-size:14px;padding-top:15px;}
.up .up_top .t_container .c_logo{display:inline-block;}
.up .up_top .t_container .c_logo .l_icon{background:url('../images/ele.png') no-repeat 0px -6px;width:136px;height:41px;display:inline-block;vertical-align:text-bottom;}
.up .up_top .t_container .l_text{width:119px;height:50px;font-size:26px;vertical-align: text-bottom;}
/*身体下部*/
.up .up_container{width:1180px;height:955px;margin:0 auto;font-size:14px;position:relative;}
.up .up_container .c_left{float:left;width:34%;background-color:#fff;margin-top:12px;position:absolute;left:0px;top:0px;}
.up .up_container .c_left .l_cont{border:1px solid #e0e0e0;line-height:1;border-bottom:0;background:url('../images/bot.png') bottom repeat-x;}
.up .up_container .c_left .l_cont .c_title{position:relative;padding:20px;height:20px;border-bottom:1px solid #eee;}
.up .up_container .c_left .l_cont .c_title h2{font-size:16px;font-weight:700;color:#333;}
.up .up_container .c_left .l_cont .c_title a{position:absolute;top:22px;font-size:12px;color:#666;right:28px;}
.up .up_container .c_left .l_cont .c_tablehead{font-size:12px;font-weight:700;color:#999; height:48px;width:362px;line-height:48px;padding:0 18px 0 20px;}
.up .up_container .c_left .l_cont .c_tablehead .t_name{width:40%;padding-left:10px;display:inline-block;}
.up .up_container .c_left .l_cont .c_tablehead .t_count{width:30%;text-align:center;display:inline-block;}
.up .up_container .c_left .l_cont .c_tablehead .t_total{width:25%;display:inline-block;text-align:right;}
.up .up_container .c_left .l_cont .c_group .g_grouptitle{border-bottom:1px solid #eee;padding-left:30px;height:48px;line-height:48px;font-size:14px;font-weight:700;color:#333;}
.up .up_container .c_left .l_cont .c_group .g_scope .mygoods{background-color:#fcfaf8;height:48px;line-height:48px;color:#666;padding:0 18px 0 20px;font-size:14px;}
.up .up_container .c_left .l_cont .c_group .g_scope div.mygoods{border-top:1px solid #ddd;height:40px;line-height:40px;padding-left:20px;position:relative;}
.up .up_container .c_left .l_cont .c_group .g_scope div.mygoods .minus{cursor:pointer;border:1px solid #ddd;width:20px;height:20px;position:absolute;right:185px;top:10px;line-height:20px;text-align:center;}
.up .up_container .c_left .l_cont .c_group .g_scope div.mygoods .num{border:1px solid #ddd;width:40px;height:20px;position:absolute;right:145px;top:10px;line-height:20px;text-align:center;}
.up .up_container .c_left .l_cont .c_group .g_scope div.mygoods .plus{cursor:pointer;border:1px solid #ddd;width:20px;height:20px;position:absolute;right:125px;top:10px;line-height:20px;text-align:center;}
.up .up_container .c_left .l_cont .c_group .g_scope div.mygoods .price{float:right;margin-right:10px;height:20px;line-height:43px;text-align:center;}


.up .up_container .c_left .l_cont .t_itemname{width:45%;font-size:12px;display:inline-block;color:#666;}
.up .up_container .c_left .l_cont .c_group .g_scope .s_tabrow .t_quantity {width:30%;text-align:center;display:inline-block;}
.up .up_container .c_left .l_cont .c_group .g_scope .s_tabrow .t_quantity button{cursor:pointer;display:inline-block;background-color:#fff;width:24px;height:24px;outline:none;border:1px solid #eee;}
.up .up_container .c_left .l_cont .c_group .g_scope .s_tabrow .t_quantity .q_valid{display:inline-block;width:26px;height:24px;border:0;outline:none;border-top:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
.up .up_container .c_left .l_cont .c_group .g_scope .s_tabrow .t_total{display:inline-block;width:22%;text-align:right;}
.up .up_container .c_left .l_cont .c_message{width:100%;height:41px;}
.up .up_container .c_left .l_cont .c_message .m_estra{width:100%;height:41px;font-size:14px;line-height:41px;}
.up .up_container .c_left .l_cont .c_message .m_estra .e_name{padding:5px 0 3px 21px;}
.up .up_container .c_left .l_cont .c_message .m_estra .e_total{width:100px;display:inline-block;margin-right:28px;text-align:right;color:#666;line-height:41px;float:right;}
.up .up_container .c_left .l_cont .c_total{color:#f74342;font-size:24px;text-align:right;width:100%;display:block;margin:0 auto;}
.up .up_container .c_left .l_cont .c_total div{color:#f74342;font-size:46px;text-align:right;display:inline-block;padding:25px 20px 15px 0px;}
.up .up_container .c_left .l_cont .c_extra{font-size:12px;color:#666;padding:0 30px 22px;text-align:right;}
.up .up_container .c_left .l_cont .c_extra span{margin-right:4px;}

.up .up_container .c_right{width:60%;float:right;border:1px solid #e0e0e0;margin-top:12px;height:750px;padding:25px 20px 150px 30px;position:absolute;right:0;top:0;background-color:#fff;}
.up .up_container .c_right .r_title{margin-bottom:40px;}
.up .up_container .c_right .r_title h2{color:#333;font-size:16px;font-weight:700;margin-bottom:15px;}
.up .up_container .c_right .r_title a{background:#f1f1f1;color:#666;line-height:72px;text-align:center;display:block;}
.up .up_container .c_right .r_select{margin-bottom:40px;}
.up .up_container .c_right .r_select h2{color:#333;font-size:16px;font-weight:700;margin-bottom:15px;}
.up .up_container .c_right .r_select h2 span{color:#ff9c00;margin-left:16px;font-weight:400;font-size:12px;}
.up .up_container .c_right .r_select ul{height:70px;}
.up .up_container .c_right .r_select ul li{color:#333;font-size:14px;border:1px solid #eee;float:left;padding:11px 20px;width:43.2%;}
.up .up_container .c_right .r_select ul .s_u1{background:url('../images/foot.png') right bottom no-repeat;float:left;border-color:#0089dc;cursor:pointer;margin-right:1.6%;}
.up .up_container .c_right .r_select ul p{margin-bottom:4px;}
.up .up_container .c_right .r_select ul .u_p{color:#999;}
.up .up_container .c_right .r_select ul .s_u2{background-color:#f9f9f9;border:1px solid #eee;}
.up .up_container .c_right .r_select .s_info{margin-bottom:20px;}
.up .up_container .c_right .r_select .s_info .i_pan1{font-size:14px;display:inline-block;text-align:right;margin-right:1em;color:#333;}
.up .up_container .c_right .r_select .s_info .i_pan2,.i_pan4{color:#999;}
.up .up_container .c_right .r_select .s_info .i_pan3{display:inline-block;text-align:right;margin-right:20px;color:#333;font-size:14px;width:5em;}
.up .up_container .c_right .r_select .s_info .i_pan4 em{color:#f74342;font-size:14px;font-weight:400;font-style:normal;}
.up .up_container .c_right .r_select .s_info .i_pan5{font-size:14px;color:#333;}
.up .up_container .c_right .r_select .s_info .i_pan5 a{color:#0089dc;}
.up .up_container .c_right .r_select .s_info .i_form{display:inline-block;position:relative;width:150px;color:#333;}
.up .up_container .c_right .r_select .s_info .i_form span{display:block;padding-left:8px;line-height:39px;border:1px solid #e0e0e0;color:#666;}
.up .up_container .c_right .r_select .s_info .i_pan6 input{background-color:#eee;padding:5px 10px;width:230px;border:1px solid #e0e0e0;outline:none;color:#666;}
.up .up_container .c_right .r_select .s_info .i_pan6 .p_inpu{background-color:#fff;}
.up .up_container .c_right div .btn{background-color:#f74342;color:#fff;font-size:16px;padding:12px 30px;border-radius:2px;outline:none;cursor:pointer;text-align:center;border:none;}
